@import "../../mixins.scss";

.footer {
  height: 5vh;
  display: flex;
  align-items: flex-end;
  background-color: black;

  @include phone {
    justify-content: center;
    align-items: center;
  }
  P {
    color: #fff;
    opacity: 0.6;
    margin-left: 100px;
    line-height: 10px;
    font-size: 15px;
    @include phone {
      margin: 0;
    }
  }
}
