* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  display: flex;
}

.main-container .content {
  flex: 1;
  margin-left: 20vw;
  width: 80vw;
  overflow: auto;
}

.main-container .aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20vw;
  border-right: 1px solid #e4e4e4;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .main-container .aside {
    width: 100vw;
    position: static;
    border: none;
    border-bottom: 1px solid #e4e4e4;
  }

  .main-container .content {
    width: 100vw;
    margin: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
